.main {
    border: 1px solid gray;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#challenge-1{
    border: 1px solid black;
}

.flex-box-container {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.button{
    border-radius: 5px;
    color:white;
    /* height: 40px; */
    padding: 10px 30px 10px 30px;
}

#click-me {
    background: rgb(0, 119, 255);
}
#click-me:hover{
    background: rgb(0, 152, 255);
}

#reset {
    background: red;
}
#reset:hover {
    background: rgb(255, 40, 0);
}