.main {
    border: 1px solid gray;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#challenge-1{
    border: 1px solid black;
}

.flex-box-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.button{
    border-radius: 5px;
    color:white;
    /* height: 40px; */
    padding: 10px 30px 10px 30px;
}

.run-fn {
    background: rgb(0, 119, 255);
}
.run-fn:hover{
    background: rgb(0, 152, 255);
}

.alert {
    background: red;
}
.alert:hover {
    background: rgb(255, 40, 0);
}

.img-cat{
    width: 200px;
    height: 100px;
    margin: 3px;
    border: 1px solid black;
    box-shadow: 0px 10px 50px rgb(100, 100, 200);
    animation: cat-creation 2s ease;
    /* transition: width 2s, height 2s, transform 2s, ease; */
    transition: all 2s ease;
    align-self: center;
}

.img-cat-remove{
    width: 0px;
    height: 0px;
    margin: 0px;
    /* transform:{rotate: 3600deg;} */
}

#rps-container .choice-box img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

#rps-container img{
    width: 150px;
    height: 150px;
}
/* #rps-container div{
    width: 150px;
    height: 150px;
} */

@keyframes cat-creation{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

