#team-r-main{
    border:none;
}
#team-r-container{
    transition: all 3s linear;
    /* border: none; */
}
.full-size-container {
    width: 97%;
    margin:auto
}
.shrinked-container {
    width: calc(0%);
    margin:auto;
    animation: spin 3s ease-in;
}
.img-team-r{
    width: 30%;
    height: auto;
    transition: all 3s linear;
    position: relative;
    left: 0px;
    right: 0px;
}

.img-team-r-shrinked{
    width: 0px;
}

#speaking-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.team-r-speech{
    border-radius: 5px;
    color:white;
    padding: 10px 30px 10px 30px;
    margin: 10px 10px 0 10px;
    background: lightseagreen; 
    position: relative;
    bottom: 0px;
    animation: chat-apparance 2s linear;
}

.team-r-speech:after{
    content: ' ';
    position: absolute;
    border: 14px solid;
    bottom: -25px;
    left: 10px;
    border-color: lightseagreen transparent transparent transparent;
}

@keyframes chat-apparance{
    0%{bottom: -500px;}
    100%{bottom: 0px;}
}

@keyframes spin {
    100% { transform:rotate(2880deg);} }

