.img-team-r{
    width: 150px;
    height: auto;
}

#speaking-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.team-r-speech{
    border-radius: 5px;
    /* width: 150px; */
    color:white;
    padding: 10px 30px 10px 30px;
    margin: 10px 10px 0 10px;
    background: lightseagreen; 
    position: relative;
    bottom: 0px;
    /* transition: all 1s linear; */
    animation: chat-apparance 2s linear;
}

.team-r-speech:after{
    content: ' ';
    position: absolute;
    border: 14px solid;
    bottom: -25px;
    left: 10px;
    border-color: lightseagreen transparent transparent transparent;
}

@keyframes chat-apparance{
    0%{bottom: -500px;}
    100%{bottom: 0px;}
}